<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="portfolio.css">
    <link rel="stylesheet" href="item_vue_003.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
    <title>portfolio</title>
</head>
<body>
    <div class="header" id="header">
        <header_item></header_item>
    </div>
    <div class="content" id="content_3">
        <item_vue_003></item_vue_003>
        <!-- <div class="item_vue_003">
            <div class="item_vue_003_catagory">
                <button 
                v-for="item in select_menu"
                @click="switch_list(item.id)"
                type="button" :class="{'item_002_catagory_button': true, 'active': select_type_id === item.id}" :key="item.id">
                <div :class='item.menu_icon'></div>
                {{ item.menu_name }}
                </button>
            </div>
            <div class="item_vue_003_list call">
                <div class="item_vue_003_skill">
                    <div 
                        @click="switch_skill(skill.skill_name)" 
                        v-for="skill in select_list[select_type_id]" 
                        :class="{'skill_reset': true,'skill_active':select_skill_id === skill.skill_name}" 
                        :key="skill.skill_name"
                    >
                        <div class="item_vue_003_title">
                            <img :src='skill.skill_icon' alt="skill.skill_name">
                            {{skill.skill_name}}
                        </div>
                        <ul v-if="select_skill_id === skill.skill_name" class="item_vue_003_skill_desc">
                            <li v-for="desc in skill.skill_desc">{{desc}}</li>
                        </ul>
                    </div>
                </div>
                <div v-for="skill in select_list[select_type_id]" v-show="select_skill_id === skill.skill_name">
                    <div class="main_color item_vue_003_exp">
                        技能熟練程度：
                        <span class="item_vue_003_result"  >{{skill.skill_result}}</span>
                    </div>
                    <ul class="item_vue_003_result_score">
                        <li v-for="ability in skill.skill_type" class="main_color">{{ability.ability_name}}
                            <span v-for="i in ability.ability_score"class="item_vue_003_skill_point"></span>
                        </li>
                    </ul>
                    <div class="item_vue_003_image">
                        <img v-for="image in skill.skill_img" :src='image' alt="skill.skill_name">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="footer">
    </div>
    <div class="mob_bottom_menu" id="bottom_menu">
        <a v-for="item in menu_list" :key="item.menu_name" class="bottom_menu" :href="item.menu_url"  v-show="item.menu_type" >
            <img :src="item.menu_icon" :alt="item.menu_name">{{item.menu_name}}
        </a>    
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    <script src="item_002.js"></script>
    <script src="header.js"></script>
    <script src="call_vue.js"></script>
    <script src="bottom_menu.js"></script>
    <script src="item_vue_003.js"></script>
    <script src="icon_storange.js"></script>
</body>
</html>