body{
    height: auto;
    background: rgba(181, 39, 0, 0.15);
    overflow-x: hidden;
}

.main_color{
    color:#FFF
}

.title p{
    color: white;
}

.title p:hover , .title h4:hover{
    color: #00B47E;
}

.header{
    border-bottom: 0px; 
    background: none;
    box-shadow: 0px;
    position:fixed;
}

.resume_item_001{
    height: 700vh;
    width: 100%;
}

.action_bn_sticky{
    position:sticky;
    top:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .action_bn{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        height:100vh;
        gap: 50px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 80px 50px 50px 50px;
        ul{
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 10px;
            width: 400px;
            align-items: flex-start;
            overflow: hidden;
        };
        li{
            color: rgba(0, 0, 0, 0.25);
            font-size: 36px;
            font-family: "Noto Sans TC";
            font-weight: 900;
            line-height: normal;
        };
        .show{
            color: #FFF;
        }
        .action_bn_title{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            h2{
                color: #FFF;
                font-family: "Noto Sans TC";
                font-size: 200px;
                font-weight: 900;
            }
            h2::after{
                content:'';
            }
        };
    };
    .black{
        background: black;
        z-index: 10;
    }
    .red{
        background: #E4202E;
        z-index: 20;
        clip-path: inset(0% 0px 0px 0px);
    }
    .orange{
        background: #E0492A;
        z-index: 30;
        clip-path: inset(0% 0px 0px 0px);
    }
    .yellow{
        background: #E5C034;
        z-index: 40;
        clip-path: inset(0% 0px 0px 0px);
    }
    .green{
        background: #56AA76;
        z-index: 50;
        clip-path: inset(0% 0px 0px 0px);
    }
    .blue{
        background: #6674B5;
        z-index: 60;
        clip-path: inset(0% 0px 0px 0px);
    }
    .purple{
        background: #8F53AD;
        z-index: 70;
        clip-path: inset(0% 0px 0px 0px);
    }
}

.scroll_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.5;
    align-self: stretch;
    span{
        width: 3px;
        height:100%;
        min-height: 30px;
        background-color: #FFF;
    }
    p{
        color: #FFF;
        text-align: center;
        font-family: "Noto Sans TC";
        font-size: 28px;
        animation: move 1s infinite;
    }
}

.no-sticky{
    position: relative;
    overflow: visible;
    .action_bn{
        position: relative;
    }
}

.my_self{
    height: 100vh;
    background-color: #000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .my_self_desc{
        padding: 50px;
        div{
            display: flex;
            gap:30px;
            font-family: "Noto Sans TC";
            font-size: 160px;
            font-weight: 900;
            span{
                /* -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: #FFF; */
                color: #FFF;
            }
            span:nth-of-type(2){
                color: #E4202E
            };
            span:nth-of-type(3){
                color: #E0492A
            }
            span:nth-of-type(4){
                color: #E5C034
            }
            span:nth-of-type(5){
                color: #56AA76
            }
            span:nth-of-type(6){
                color: #6674B5
            }
            span:nth-of-type(7){
                color: #8F53AD
            }
        }
        p{
            color: #FFF;
            font-family: "Noto Sans TC";
            font-size: 70px;
            font-weight: 900;
        }
    }
}

.content{
    margin: 0;
    max-width: none;
    align-items: center;
}

.resume_item_002{
    padding: 30px 0;
    display: flex;
    width: 100%;
    height: auto;
    max-width: 1380px;
    img{
        width: 280px;
        padding-right: 20px;
    }
    .name_list{
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 14%;
            gap:5px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80)), url('img/demo_img.jpg') lightgray 50% / cover no-repeat;
            background-size: cover; /* This makes the image cover the whole background */
            background-repeat: no-repeat; /* This prevents the image from repeating */
            background-position: center;
            color: #FFF;
            text-align: center;
            font-family: "Noto Sans TC";
            font-size: 36px;
            font-weight: 900;
            box-shadow: 0px 4px 12px #000;
            .name_desc{
                display: none;
                justify-content: center;
                width: 100%;
                gap:10px;
                p{
                    font-size: 24px;
                    line-height: 26px;
                    width: 25px;
                }
                span{
                    background: #D9D9D9;
                    width: 3px;
                    flex-shrink: 0;
                    align-self: stretch;
                }
            }
        }
        div:hover{
            .name_desc{
                display:flex;
            }
        }
        div:nth-of-type(2){
            background: linear-gradient(rgba(226, 33, 44, 0.80), rgba(226, 33, 44, 0.80)), url('img/demo_img.jpg') lightgray 50% / cover no-repeat;
        }
        div:nth-of-type(3){
            background: linear-gradient(rgba(252, 106, 0, 0.80), rgba(252, 106, 0, 0.80)), url('img/demo_img.jpg') lightgray 50% / cover no-repeat;
        }
        div:nth-of-type(4){
            background: linear-gradient(rgba(229, 190, 51, 0.80), rgba(229, 190, 51, 0.80)), url('img/demo_img.jpg') lightgray 50% / cover no-repeat;
        }
        div:nth-of-type(5){
            background: linear-gradient(rgba(89, 167, 117, 0.80), rgba(89, 167, 117, 0.80)), url('img/demo_img.jpg') lightgray 50% / cover no-repeat;
        }
        div:nth-of-type(6){
            background: linear-gradient(rgba(95, 127, 186, 0.80), rgba(95, 127, 186, 0.80)), url('img/demo_img.jpg') lightgray 50% / cover no-repeat;
        }
        div:nth-of-type(7){
            background: linear-gradient(rgba(138, 89, 176, 0.80), rgba(138, 89, 176, 0.80)), url('img/demo_img.jpg') lightgray 50% / cover no-repeat;
        }
    }
}

.resume_item_003{
    width: 100%;
    padding: 50px 50px 0 50px;
    max-width: 1380px;
    p{
        color: #6A6A6A;
        font-family: "Noto Sans TC";
        font-size: 24px;
        line-height: 1.5;
    }
    .malaysia,.taiwan{
        width: 100%;
        display: flex;
        .desc{
            display: flex;
            width: 50%;
            padding: 10px 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            flex: 1 0 0;
            align-self: stretch;
            .item003_title{
                display: flex;
                width: 100%;
                gap: 10px;
                padding-bottom: 10px;
                border-bottom: 10px solid #00B47E;
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: flex-end;
                }
                p{
                    color: #00B47E;
                    font-family: "Noto Sans TC";
                    font-size: 18px;
                    font-weight: 400;
                }
                h2{
                    color: #6A6A6A;
                    font-family: "Noto Sans TC";
                    font-size: 36px;
                    font-weight: 700;
                }
            }
            img{
                border-radius: 5px;
                width: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%) lightgray 0.187px -186.046px / 100% 199.633% no-repeat;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
        .svg{
            div{
                display: flex;
            }
            .target{
                position: relative;
                width: 100%;
                top: -18%;
                left: 50%;
                .circle{
                    display: block;
                    width: 67.43px;
                    height: 67.43px;
                    border-radius: 100%;
                    background: #B52700;
                }
                .line{
                    display: block;
                    width: 80%;
                    height: 15px;
                    background: #B52700;
                    position: absolute;
                    top: 37%;
                    left: 1%;   
                }
            }
        }
    }
    .taiwan{
        .svg{
            padding: 0 150px;
            .target{
                top: -85%;
                left: 40%;
                .line{
                    width: 200%;
                    left: -199%;
                    right: -1%;
                }
            }
        }
    }
}

.resume_item_004{
    display: flex;
    width: 100%;
    height: 450px;
    padding: 20px 50px;
    gap: 40px;
    background-color: #00B47E;
    .num_title{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        gap:20px;
        h2{
            font-family: "Noto Sans TC";
            font-size: 46px;
            color:#FFF;
            font-weight: bold;
        }
    }
    .desc_scroll{
        display: block;
        flex: 1;
        height: 100%;
        overflow-y: scroll;
        padding-right: 20px;
        .scroll_bar{
            justify-content: space-evenly;
            span{
                height: 80%;
            }
        }
    }
    .desc_scroll::-webkit-scrollbar {
        width: 8px; /* 垂直滚动条的宽度 */
        height: 8px; /* 水平滚动条的高度 */
    }
    .desc_scroll::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.05);; /* 滚动条的颜色 */
        border-radius: 5px; /* 滚动条的圆角 */
    }
    .desc{
        display: flex;
        height: 100%;
        align-items: center;
        flex: 1;
        .job_desc{
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            height: 100%;
            flex: 1;
            gap: 20px;
            .job_title{
                h4{
                    font-size: 18px;
                    font-family: "Noto Sans TC";
                    color: #FFF;
                    line-height: normal;
                }
                h3{
                    font-size: 36px;
                    font-family: "Noto Sans TC";
                    color: #FFF;
                    line-height: normal;
                    span{
                        font-size: 18px;
                    }
                }
            }
            .detail_desc{
                flex: 1;
                font-size: 24px;
                color: #FFF;
                font-weight: bold;
                line-height: normal;
                p{
                    line-height: 24px;
                }
            }
            .supply{
                display: flex;
                align-items: center;
                p{
                    font-size: 24px;
                    line-height: normal;
                    color: #FFF;
                    font-weight: bold;
                }
                div{
                    width: 250px;
                    height: 50px;
                    padding: 10px;
                    background-color: #FFF;
                    border-radius: 5px;
                    span{
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url("img/mabuchi.png") lightgray 50% / cover no-repeat;
                    }
                }
            }
        }
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}